1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
entero = 27
print(entero)

27

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(entero)

int

4) Crear una variable que contenga tu nombre

In [4]:
my_name = 'Kimberly'

5) Crear una variable que contenga un número complejo

In [5]:
complejo = 14j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

In [8]:
print(round(pi,2)) #Solo con dos decimales

3.14

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [1]:
a = 'True'
b = True

In [2]:
a == b

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [5]:
print(f'La variable a es del tipo {type(a)} y la variable b es del tipo {type(b)}')

La variable a es del tipo <class 'str'> y la variable b es del tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
suma = 14 + 2.5

11) Realizar una operación de suma de números complejos

In [14]:
suma_complejos = 14j + 2j
print(suma_complejos)

16j

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
suma_comp_real = 14j +2
print(suma_comp_real)

(2+14j)

13) Realizar una operación de multiplicación

In [17]:
25*2

50

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
div = 27/4
print(div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
div_ent = 27//4
print(div_ent)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
div_resto = 27%4
print(div_resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
4 * div_ent + div_resto

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [10]:
string1 = 'variables alfanuméricas ' + 'son lo mismo que strings, ' + 'cierto?'
print(string1)

variables alfanuméricas son lo mismo que strings, cierto?

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

No son iguales, porque uno representa un tipod e dato numérico y el otro un string

In [28]:
2 == '2'

False

True

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

porque los decimales deben estar representados con punto (.) y no coma (,)

In [31]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [36]:
variable = 3 
print(variable)

3

In [37]:
variable -= 1
print(variable)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

Está agregando tres posiciones de 0 en la notación binaria. 1 = 1, si le agregamos 3 posiciones 0 (1+0+0+0) => 1000, el 1 se convierte en 1000, que representa al 8 en binario.

In [15]:
1 << 3

8

In [16]:
n = 3

In [17]:
8 << n

64

In [19]:
8 * (2 ** n)

64

In [20]:
8 >> n

1

In [21]:
8 / (2 **n)

1.0

Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [39]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
'2' + '2'

'22'

In [40]:
2 + 2

4

26) Realizar una operación válida entre valores de tipo entero y string

In [46]:
'escribe esta frase dos veces, ' * 2

'escribe esta frase dos veces, escribe esta frase dos veces, '